<div class="container mx-auto flex flex-col items-center bg-lime-900 p-4 shadow-lg shadow-lime-900/50">
  <a href="#" class="text-white text-2xl font-bold mb-4">Welcome to the Library</a>
  <nav class="space-x-8">
      <a href="/book-list" class="text-white hover:underline">Book List</a>
      <a href="/members-list" class="text-white hover:underline">Members List</a>
      <a href="/loan-list" class="text-white hover:underline">Loan List</a>
      <a href="/contact-form" class="text-white hover:underline">Contact</a>
  </nav>
</div>
